@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Travel Dash will allow you to look up flights and book the cheapest one. You will be 
   able to look up hotels and check into the cheapest hotel. You will be able to look up car 
   rentals and reserve the cheapest rental. Then, you will see a summary of the weather 
   conditions of the place you are traveling to. You will be able to see the best events and 
   restaurants near your hotel, and you will be able to book and see them on your personal 
   dashboard of flights and events that you will be able to choose. Travel Dash is set to 
   keep all of your travel needs in one app that will give you the best experience possible.
</p>
