@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<address>
    700 N Art Museum Dr<br />
    Milwaukee, WI 53202<br />
    <abbr title="Phone">P:</abbr>
    414.224.3200
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@hotmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@gmail.com</a>
</address>

<h2>Recommended Reviews for Travel Dash</h2>
<p>&#9733; &#9733; &#9733; &#9733; &#9734;</p>
<p>
    This app was great to use to plan out my last vacation. It was nice to have everything that I needed all in one app.
</p>
<p>
    By Tamara Brooks
</p>
<p>&#9733; &#9733; &#9733; &#9733; &#9733;</p>
<p>
    Travel Dash is awesome! My vacation went so smoothly, and I had fun things to do the whole time.
</p>
<p>
    By Joshua Henderson
</p>
<p>&#9733; &#9733; &#9733; &#9733; &#9734;</p>
<p>
    This app works great. It was easy and convenient to use. My trip to Dallas would not have been the same without Travel Dash.
</p>
<p>
    By Latoya Johnson
</p>

<h3>@ViewBag.Message</h3>
<form method="post">
    <textarea name="message"></textarea>
    <input type="submit" value="Submit Review" />
</form>