@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Travel Dash</h1>
    <p class="lead">Let us handle all of your traveling needs.</p>
    
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Book your flight, rent a car, and check into a hotel.</h2>
        <p>
            Look up and book the cheapest flight, car, and hotel available in your destination.
        </p>
        <p><a class="btn btn-default" href="http://localhost:54185/Home/About">Contact Travel Dash &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h2>Plan events and make meal reservations</h2>
        <p>Find a list of events in the area you are traveling to, and make reservations at the best restaurants as well.</p>
        <p><a class="btn btn-default" href="http://localhost:54185/Home/About">About Travel Dash &raquo;</a></p>
    </div>
</div>