body {
    padding-top: 60px;
    padding-bottom: 20px;
    font-family: Arial;   
    -webkit-border-image: url('water4.png') 30 stretch;
}
.jumbotron {
    background-color: rgba(250, 250, 200, 0.5);
    text-align: center;
}
.navbar {
    background-color: midnightblue;
    font-family: Arial;
    color: black;
    text-align: center;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
