
@{
    ViewBag.Title = "EventsIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>EventsIndex</h2>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <div style="width:20%; padding:10px; float:right">
            <form id="requestForm">
                <div class="form-group">
                    <label for="formGroupExampleInput">Type of event</label>
                    <input type="text" class="form-control" id="keywordInput" placeholder="keyword: ex 'music','sports'">
                </div>
                <div class="form-group">
                    <label for="formGroupExampleInput2">City</label>
                    <input type="text" class="form-control" id="cityInput" placeholder="city: ex. Milwaukee">
                </div>
                <button type="submit" class="btn">Submit</button>
            </form>
        </div>
    </div>
</div>

<br><br><br>
<h1><center>EVENTS TABLE</center></h1>
<div class="container" style"width:100%">
    <table class="table">
        <thead>
            <tr style="margin-bottom:20px">
                <th class="tableTitle">Add</th>
                <th></th>
                <th class="tableTitle">Event</th>
                <th class="tableTitle">Date and Time</th>
                <th class="tableTitle">Venue</th>
                <th class="tableTitle">Link</th>
            </tr>
        </thead>
        <tbody id="resultsTable"></tbody>
    </table>
</div>
<div>
    <footer style" bottom:0"></footer>
</div>
<script type="text/javascript" src="http://api.eventful.com/js/api"></script>
@Scripts.Render("~/Scripts/eventfulAPI.js")

<li>@Html.ActionLink("Back to dashboard", "Index", "Dashboard")</li>


